*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    /* height: 200vh; */
}
.aboutContainer{
    border: 2px solid red;
    height: 100%;
    position: fixed;
    width: 100%;
    background: blue;
    transform: rotate(100deg);
    left: 100vh;

}